ul.navbar-nav li.nav-item a.nav-link, a.dropdown-toggle {
	color: white;
	font-weight: bold;
}

section.satu {
	margin-top: 100px;
}

section.satu h6 {
	color: yellow;
}

section.satu h1 {
	color: navy;
	font-weight: bold;
}

section.satu button {
	background-color: navy;
	color: white;
	border-radius: 5px;
	font-weight: bold;
}

section.satu img {
	width: 400px;
	height: 300px;
	box-shadow: 10px 5px 10px yellow;
}


section.dua {
	padding-top: 100px;
	padding-bottom: 100px;
}

section.dua h2 {
	color: navy;
	font-weight: bold;
	text-align: center;
}

.card {
	border-radius: 5px;
	box-shadow: 10px 5px 10px black
}

section.dua img {
	width: 100px;
	height: 150px;
	margin: auto;
	padding-top: 25px;
}

section.tiga img {
	width: 20px;
	height: 20px;
	margin-right: 20px;
}

